@tailwind base;
@tailwind components;
@tailwind utilities;

/* no light mode for now */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ); */
}

.hero h1 {
  font-weight: 900;
  transition: transform .12s ease-out;
}


.alert-error {
  /* width: 100%; */
  color: crimson;
  position: fixed;
  top: 63px;
  left: 34px;
}
.alert-success {
  /* width: 100%; */
  color: teal;
  position: fixed;
  top: 63px;
  left: 34px;
}
